@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));

  background-color: rgb(6, 23, 30);
}
.color1 {
  color: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  width: 0.7rem;
}
::-webkit-scrollbar-track {
  background: #06171e;
}
::-webkit-scrollbar-thumb {
  background: #06171e;
  border-radius: 20px;
  border: 1px solid #9c0221;
  transition: border-color 0.3s ease;
}
::-webkit-scrollbar-thumb:hover {
  border: 1px solid #ff073a;
}

.bg-color {
  background-color: rgb(6, 23, 30);
}
.color {
  color: rgb(94, 125, 140);
  border-color: rgb(94, 125, 140);
}
.capatalize {
  text-transform: capitalize;
}
.uppercase-text {
  text-transform: uppercase;
}
