@tailwind base;
@tailwind components;
@tailwind utilities;



::-webkit-scrollbar{
    width: .7rem;
   
    
}

::-webkit-scrollbar-track{
    background: #06171E;
     
}

::-webkit-scrollbar-thumb{
    background: #06171E;
    border-radius: 20px;
    border: 1px solid #9c0221;
    transition: border-color 0.3s ease;
    
}

::-webkit-scrollbar-thumb:hover {
    border: 1px solid #FF073A; 
}

